
{{ template "theme/partials/head.html" . }}
<div class="content container" itemscope itemtype="http://schema.org/Blog">

  <div class="posts">
    <h1><a href="/post">Posts</a></h1>
    <ul class="posts">
    {{ range .Data.Pages }}{{ if eq .Section "post" }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a> &middot; <time>{{ .Date.Format "Jan 2, 2006" }}</time> &middot; {{ .ReadingTime }} minute read</li>
    {{ end }}{{ end }}
    </ul>
  </div>

  <div class="posts">
    <h1><a href="/article">Articles</a></h1>
    <ul class="posts">
    {{ range .Data.Pages }}{{ if eq .Section "article" }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a> &middot; <time>{{ .Date.Format "Jan 2, 2006" }}</time> &middot; {{ .ReadingTime }} minute read</li>
    {{ end }}{{ end }}
    </ul>
  </div>

</div>

{{ template "theme/partials/foot.html" . }}